{% load static %}
<div class="wrapper">
    {% load static %}

    <div class="text-center mt-4 name">
        Login
    </div>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <form class="p-3 mt-3" method="post" action="{% url 'account:login' %}">
        {% csrf_token %}
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="username" placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" placeholder="Password">
        </div>
        <button class="btn mt-3">Login</button>
    </form>
    <div class="text-center fs-6">
        <a href="">Forget password?</a> or <a href="{% url 'account:signup' %}">Sign up</a>
    </div>
</div>

