<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="col-12 col-md-5 col-lg-3 position_footer_relative">
        <div class="footer_main_title py-3"> Most Viewed Posts</div>
        {% for posts in posts %}
        <div class="footer_makes_sub_font">{{ posts.published_date|naturalday }}</div>
        <a href="{% url 'blog:single' pid=posts.id %}" class="footer_post pb-4">{{ posts.title }}</a>
        {% endfor %}
        <div class="footer_position_absolute"><img src="{% static 'images/footer_sub_tipik.png' %}" alt="img" class="width_footer_sub_img"/></div>
    </div>
</body>
</html>